<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# OUTPUT VIA current_page.metadata %>
    <title><%= current_page.metadata[:locals][:meta_title] || current_page.data.title || "OERhörnchen Registry" %></title>
    <meta name="description" content="<%= current_page.metadata[:locals][:meta_description] || " " %>" />

    <meta name="google-site-verification" content="9lNevJv_j4mX3tykCBOEcihvssk75ld1ftXlbz52aO8" />

    <%= stylesheet_link_tag "bootstrap4.min", "custom" %>

  </head>
  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">OERhörnchen Registry</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="https://oerhoernchen.de/impressum">Impressum</a>
        <a class="p-2 text-dark" href="https://oerhoernchen.de/impressum">Datenschutz</a>
        <a class="p-2 text-dark" href="https://gitlab.com/programmieraffe/oerhoernchen-simple-metadata-registry-middleman">Infos</a>
      </nav>
      <a class="btn btn-outline-primary" href="https://gitlab.com/programmieraffe/oerhoernchen-simple-metadata-registry-middleman">URL eintragen</a>
    </div>

    <div class="container">

    <%= yield %>

    </div>

    <%= javascript_include_tag  "jquery-3.2.1.slim.min", "popper.min", "bootstrap.min",  "custom" %>
  </body>
</html>
