<!-- 2DO: filter non-schema.org values, .slice/select was not working, no error visible, just a blank page? -->
<!-- debug online: https://www.tutorialspoint.com/execute_ruby_online.php --
<!-- This is the part for services, robots and machines: -->

<!-- A) machine readable license information, important for advanced search filter by license (used by Google e.g.) -->
<a rel="license" href="<%= current_item.license %>"></a>
<!-- eo machine readable license information -->

<!-- B) schema.org metadata for OER in Linked Data JSON format: -->
<%# current_item: all json props+values regarding the object %>
  <%# current_publisher: all json props+values regarding publisher, but needs to be in new_schema_data.publisher, therefore it is wrapped again %>
    <%# if JSON.pretty_generate does not work, just use .to_json %>
      <script type="application/ld+json">
        <%# dirty hack - https://ruby-doc.org/core-2.5.0/Hash.html#method-i-slice, only works for2.5 %>
        <%# https://blog.bigbinary.com/2018/02/06/ruby-2-5-added-hash-slice-method.html %>
        <%= JSON.pretty_generate(current_item.select { |key, value| allowed_schemaorg_keys.include?(key) }.merge({'@context' => "https://schema.org"}))  %>
        <%#JSON.pretty_generate(current_item.slice(:name,:license:,:@type,:creator,:publisher,:image,:url,:dateCreated)) %>
      </script>
      <!-- eo schema.org metadata -->
<!-- eo robots -->

<!-- This is the part for humans -->
<div class="row">
  <div class="col-12 text-center">
    <p><small>Dies ist ein Metadaten-Eintrag im OERhörnchen Registry. Für die Korrektheit der Informationen wird keine Gewährleistung übernommen.</small></p>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <h1>🔗
            <%= current_item.name || " " %></h1>
        </h5>
        <% if defined?current_publisher %>
        <h6 class="card-subtitle mb-2 text-muted">Publisher:
          <%= current_publisher.name || "" %></h6>
        <% end %>
        <p class="card-text"><%= current_item.description || "" %></p>
        <p class="card-text">URL:
          <a href="<%= current_item.url %>"><%= current_item.url %></a>
        </p>
        <p class="card-text">Lizenz:
          <a href="<%= current_item.license %>"><%= current_item.license %></a>
        </p>
        <p class="text-center">
          <a href="<%= current_item.url %>" class="btn btn-warning" ">Zum OER</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">schema.org-Metadaten (JSON-Linked-Data)</h5>
        <pre><code><%= JSON.pretty_generate(current_item.select { |key, value| allowed_schemaorg_keys.include?(key) }) %></code>
        </pre>
      </div>
    </div>

  </div>

  <div class="col-12 text-center">
    <p><small>Die Metadaten wurden im HTML-Quelltext hinterlegt und können somit von Suchmaschinen eingelesen werden. Dadurch können die OERs wiederum mit Tools wie dem <a href="http://oerhoernchen.de/">OERhörnchen</a> gefunden werden.</small></p>
  </div>
</div>
<!-- This is the part for humans -->
