---
title: Alle Einträge - OERhörnchen Registry
---
<!-- 2DO: pagination! -->
<ul>
  <% sitemap.resources.each do |page| %>
    <% if page.url =~ /oer/ %>
      <li>
        <a href="<%= page.url %>">
          <% if page.data.title %>
            <%= page.data.title %>
          <% else %><%= page.url %>
          <% end %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
