---
title: OERhörnchen Registry
---

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-2 mx-auto text-center">
  <h1 class="display-4">🐿️ OERhörnchen Registry</h1>
  <p class="lead">schema.org-Metadaten-Speicher für offene Bildungsinhalte</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center mx-auto">
      <div class="input-group pb-0">
        <input type="text" class="form-control" placeholder="Mit Google durchsuchen ..." aria-label="Recipient's username" aria-describedby="basic-addon2" id="search-term">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="search-with-google">Suche</button>
        </div>
      </div>

      <div class="form-group mb-10">
        <!--<label for="exampleFormControlSelect1">Lizenzfilter:</label>-->
        <select class="form-control" name="license-filter">
          <option value="only-oer">Ausschließlich Inhalte mit OER-kompatible Lizenzen (CC0, CC BY, CC BY-ShareAlike)</option>
          <option value="nc">Inhalte mit OER-kompatibler Lizenz sowie Inhalte mit NC-Einschränkung</option>
          <option value="nc-nd">Inhalte mit OER-kompatibler Lizenz sowie Inhalte mit ND- und/oder NC-Einschränkung</option>
          <option value="no-filter">Lizenzfilter deaktivieren</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 text-center mx-auto mt-5">

      <p>Dies ist der offene und weböffentliche Metadaten-Speicher des OERhörnchens. Hier werden Metadaten für offene Bildungsmaterialien gespeichert, die bspw. bei YouTube nicht hinterlegt werden können. Die Metadaten werden im schema.org-Format erfasst,
        für Suchmaschinen wie Google zum Einlesen bereitgestellt, sodass sie am Ende bei der
        <a href="https://oerhoernchen.de">OERhörnchen Suche</a>
        mit Lizenzfilter (z.B. nur CC0, CC BY, CC BY-ShareAlike) gefunden werden können.</p>

      <p><%= link_to 'Liste aller Metadaten-Einträge', '/all-oers.html', :relative => true %></p>

      <p>Mehr Informationen (für nOERds):
        <a href="https://gitlab.com/programmieraffe/oerhoernchen-simple-metadata-registry-middleman">Gitlab-Repository</a>
      </p>

      <p>Für die hier bereitgestellten Metadaten werden keine Urheberrechte in Anspruch genommen, es wird zudem keine Haftung für die Informationen übernommen. Eingetragen werden nur bereits weböffentliche Meta-Informationen zu bereits veröffentlichen Werken unter freier Lizenz. Die Werke selbst sowie Medieninhalte werden nicht auf dieser Webseite abgespeichert.</p>
    </div>
  </div>
</div>
